@use '../custom' as *;

.contact {
    .container-fluid {
        background-color: rgba($color: $primary, $alpha: 0.12);

        .container {
            .row {
                margin-top: 4.6875rem;
                padding-top: 4.6875rem;
                padding-bottom: 4.6875rem;

                .section-headings {
                    margin-bottom: 2rem;
                }

                .contact-inputs {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid rgba($color: $gray-700, $alpha: .5);
                    background: none;
                    margin-bottom: 1.375rem;
                    padding: 1.75rem 1rem;
                }
            }

            textarea {
                height: 200px;
            }
        }
    }
}

.contact-image {
    margin-top: -18rem;
}

@include media-breakpoint-only (lg) {
    .contact {
        .container-fluid {
            .container {
                .row {
                    margin-top: 3.125rem;
                    padding-top: 3.125rem;
                    padding-bottom: 3.125rem;
                }
            }
        }
    }

    .contact-image {
        margin-top: -17rem;
    }
}


@include media-breakpoint-only (md) {
    .contact {
        .container-fluid {
            .container {
                .row {
                    margin-top: 2.5rem;
                    padding-top: 2.5rem;
                    padding-bottom: 2.5rem;

                    .contact-container {
                        margin-bottom: 5rem;
                    }
                }
            }
        }
    }

    .contact-image {
        margin-top: -12rem;
    }
}

@include media-breakpoint-down (md) {
    .contact {
        .container-fluid {
            .container {
                .row {
                    margin-top: 2rem;
                    padding-top: 2rem;
                    padding-bottom: 2rem;

                    .contact-inputs {
                        margin-bottom: 1rem;
                        padding: 1rem .5rem;
                    }

                    .contact-container {
                        margin-bottom: 3rem;
                    }
                }

                textarea {
                    height: 150px;
                }
            }
        }
    }

    .contact-image {
        margin-top: -9rem;
    }
}

@include media-breakpoint-down (sm) {
    .contact {
        .container-fluid {
            .container {
                .row {
                    .contact-container {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .contact-image {
        display: none;
    }

}