@use '../custom' as *;

.hero-section {

    .row {
        padding-top: 4.5rem;
    }

    .divider {
        border-bottom: 1px solid rgba($color: $gray-700, $alpha: .5);
        padding-top: 9.375rem;
    }

}

@include media-breakpoint-only (lg) {

    .hero-section {
        .divider {
            padding-top: 6.25rem;
        }
    }
}

@include media-breakpoint-only (md) {

    .hero-section {
        .divider {
            padding-top: 5rem;
        }
    }
}

@include media-breakpoint-down (md) {

    .hero-section {
        .row {
            padding-top: 1rem;
        }

        .hero-title {
            margin-top: -4rem;
        }

        .image-box {
            max-width: 17.1875rem;
        }

        .divider {
            padding-top: 2.5rem;
        }
    }
}

@include media-breakpoint-down (sm) {

    .hero-section {
        .image-box {
            max-width: 15rem;
        }

        .hero-title {
            margin-top: -5rem;
        }

        .divider {
            padding-top: 2rem;
        }
    }
}

@media (max-width: 460px) {

    .hero-section {
        .hero-title {
            margin-top: -7rem;
        }
    }
}