@use '../custom' as *;

.menu {
    li {

        a {
            font-size: 1.125rem;
            color: $gray-700;
            font-weight: 400;
            line-height: 1.375rem;
            transition: color .18s;

            &:hover {
                color: $primary;
                transition: color 0.18s ease-in-out;
            }
        }

    }
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 600;
    color: $gray-700;
    line-height: 2.375rem;
    transition: color .18s;

    &:hover {
        color: $primary;
        transition: color 0.18s ease-in-out;
    }
}

.navbar-toggler {
    border: none;
}

@include media-breakpoint-down(md) {

    .navbar-brand {
        font-size: 1.75rem;
    }
}