@use '../custom' as *;

.projects {

    .container {
        padding-top: 4.6875rem;
        padding-bottom: 4.6875rem;

        .heading-container {
            padding-bottom: 4.6875rem;
        }
    }

    source,
    img {
        border-radius: 20px;
    }

    .placement-container-spotify {
        width: 100%;
        height: 636px;
        background-color: #8EEBAF;
        border-radius: 20px;
    }

    .placement-container-portfolio {
        width: 100%;
        height: 636px;
        background-color: #8FD6EC;
        border-radius: 20px;
    }
}

@include media-breakpoint-only (lg) {

    .projects {
        .container {
            padding-top: 3.125rem;
            padding-bottom: 3.125rem;
        }
    }
}

@include media-breakpoint-only (md) {
    .projects {

        .container {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
        }
    }
}

@include media-breakpoint-down (md) {

    .projects {
        .container {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}