@use '../custom' as *;

.projects {

    .container {
        padding-top: 4.6875rem;
        padding-bottom: 4.6875rem;
    }

    .filter-btn {
        font-size: 1.25rem;
        border: none;
        font-weight: 600;
        color: rgba($color: $gray-700, $alpha: 0.5);
        border-radius: 0;

        &:hover {
            color: $primary;
        }

        &.active {
            color: $primary;
            font-weight: 700;
            border-bottom: 3px solid $primary;
        }
    }

    .itemBox.hide {
        display: none;
    }

    .heading-container {
        padding-bottom: 4.6875rem;
    }

    .cards {
        padding-bottom: 4.6875rem;
    }

    source,
    img {
        border-radius: 20px;
    }

    .tiny-headings {
        &.types {
            padding-top: 2rem;
        }
    }

    .brand-color-borders {
        width: 50px;
        height: 5px;
    }

    .brand-color-borders {
        &.adobe {
            background-color: #EB1000;
        }

        &.natgeo {
            background-color: #FFCC00;
        }

        &.nytimes {
            background-color: #000;
        }

        &.spotify {
            background-color: #1ED760;
        }

        &.portfolio {
            background-color: $primary;
        }
    }

    .tiny-headings {
        &.tools {
            margin-bottom: 0.75rem;
        }
    }

    // - - - - - - - Delete later - - - - - - - //

    .placement-container-spotify {
        width: 100%;
        height: 636px;
        background-color: #8EEBAF;
        border-radius: 20px;
    }

    .placement-container-portfolio {
        width: 100%;
        height: 636px;
        background-color: #8FD6EC;
        border-radius: 20px;
    }

    // - - - - - - - Delete later - - - - - - - //
}

@include media-breakpoint-only (lg) {

    .projects {
        .container {
            padding-top: 3.125rem;
            padding-bottom: 3.125rem;
        }
    }
}

@include media-breakpoint-only (md) {
    .projects {

        .container {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
        }

        .heading-container {
            padding-bottom: 3.125rem;
        }
    }
}

@include media-breakpoint-down (md) {

    .projects {
        .container {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .filter-btn {
            font-size: 1.125rem;
        }

        .heading-container {
            padding-bottom: 1.875rem;
        }

        .cards {
            padding-bottom: 3.125rem;
        }

        .tiny-headings {
            &.types {
                padding-top: 1rem;
            }
        }
    }
}

// - - - - - - - Dark Mode - - - - - - - //
@include color-mode(dark) {
    .projects {
        .filter-btn {
            color: $white;
            border-radius: 0;
        }
    }
}