@use '../custom' as *;

.btn-outline-dark {
    cursor: pointer;
    border: 2px solid $dark-blue;
    border-radius: 0;
    font-size: 1rem;
    font-weight: 600;
    color: $dark-blue;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1.125rem 2rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:hover {
        color: #fff;
        background-color: $dark-blue;
        border-color: $dark-blue;
    }
}

@include media-breakpoint-only (md) {

    .btn-outline-dark {
        font-size: .9rem;
        padding: 1rem 1.25rem;
    }
}

@include media-breakpoint-down (md) {

    .btn-outline-dark {
        font-size: .875rem;
        padding: .75rem 1rem;
    }
}

// // - - - - - - - Dark Mode - - - - - - - 
// @include color-mode(dark) {
//     .btn {
//         border: 2px solid $white;
//         color: $white;

//         &:hover {
//             color: $dark-blue;
//             background-color: $white;
//             border-color: $white;
//         }
//     }
// }
// - - - - - - - Dark Mode - - - - - - - //