@use '../custom' as *;

.section-headings {
    font-size: 3.25rem;
    line-height: 3.875rem;
    font-weight: 700;
    color: $gray-700;
}

.section-text {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 300;
    color: $gray-500;
}

.sub-headings {
    font-size: 2.75rem;
    line-height: 3.3125rem;
    font-weight: 400;
    color: $gray-700;
}

.tiny-headings {
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 700;
    color: $primary;
}

.tiny-text {
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 300;
    color: $gray-700;
}


@include media-breakpoint-between (md, lg) {
    .section-headings {
        font-size: 2.75rem;
        line-height: 3.3125rem;
    }

    .section-text {
        font-size: 1.125rem;
        line-height: 1.875rem;
    }

    .sub-headings {
        font-size: 2.5rem;
        line-height: 3rem;
    }

}

@include media-breakpoint-down (md) {
    .section-headings {
        font-size: 1.75rem;
        line-height: 2.125rem;
    }

    .section-text {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .sub-headings {
        font-size: 1.5rem;
        line-height: 3rem;
    }

}